@import 'src/styles/_themes';

.button {
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    padding: 5px 15px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    max-width: 100%;
    text-transform: none;
}

.primary {
    @include button-primary;
}